<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:exported="false"
        android:usesCleartextTraffic="true">
        <activity
            android:name="dk.tobiasthedanish.observability.lifecycle.TestActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.tobiasthedanish.observability.tracing.TraceTestActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="dk.tobiasthedanish.observability.API_KEY" android:value="YOUR_API_KEY" />
        <!--
        The API_URL is used by mock web server, changing this could lead to test failures.
        -->
        <meta-data android:name="dk.tobiasthedanish.observability.API_URL" android:value="http://localhost:8080" />
    </application>
</manifest>
